* {
  margin: 0 auto;
  padding: 0;
  box-sizing: border-box;
}

body {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    width: 600px;
}

/* index.html */
.header {
    background-color: #599fdb;
    color: #ffffff;
    font-size: 36px;
}

.list {
    font-size: 18px;
}

ul {
    list-style-type: none;
}

li {
    padding: 5px;
}

.list-item {
    background-color: #d0e1f2;
    color: #000000;
    padding: 10px;
}

.footer {
    background-color: #599fdb;
    color: #ffffff;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
}

/* Recipe pages*/
img {
    height: 305px;
    width: auto;
}

.image {
    height: 305px;
    background-color: #d0e1f2;
}

.description {
    padding: 5px;
    background-color: #599fdb;
}

.ingredients {
    background-color: #d0e1f2;
}

.steps {
    background-color: #599fdb;
}

ol {
    list-style-position: inside;
}

.link {
    background-color: #d0e1f2;
}